[2019-12-06 16:54] stweil opened #9 "Rename ocrd_sbb_textline_detector"
I suggest to rename `ocrd_sbb_textline_detector` to `ocrd-sbb-textline-detector` or `ocrd-sbb-segment-line` which fit better to the OCR-D conventions.

CC'ing @kba.

[2019-12-06 16:56] cneud commented on #9
WONTFIX, because this tools is from another funded project, not OCR-D, and we want/need to be transparent ;-)

[2019-12-06 16:59] stweil commented on #9
I am sorry, but I don't understand why replacing `_` by `-` would be in-transparent?

[2019-12-06 16:59] kba commented on #9
I think @cneud meant that we won't rebrand non-OCR-D tools as `ocrd-`?

[2019-12-06 17:00] cneud commented on #9
Precisely! This is NOT an OCR-D effort, and we are required for funders to be clear about this! We cannot simply rebrand products of other funded projects.

[2019-12-06 17:03] cneud commented on #9
It is a voluntary concession by SBB to also issue QURATOR tools with OCR-D compliant interfaces (where possible).

[2019-12-06 17:03] stweil commented on #9
For me, the `ocrd-` prefix just indicates that it is a tool which fits into the OCR-D toolchain. I did not interpret it as an indicator that it was funded in the OCR-D context.

Why not omit `ocrd_` as well, and use `-` in the name of the script nevertheless?

[2019-12-06 17:04] cneud commented on #9
Maybe, but we have another project here with another naming scheme in use. Does it really matter?

[2019-12-06 17:06] kba commented on #9
@cneud Just to clarify, @stweil is referring to the executable `ocrd_sbb_textline_detector` in the [ocrd-tool.json](https://github.com/qurator-spk/sbb_textline_detector/blob/master/qurator/sbb_textline_detector/ocrd-tool.json). This is already prefixed `ocrd_` and should indeed follow the same convention as all the other tools, i.e. `ocrd` and kebab-case.

[2019-12-06 17:08] cneud commented on #9
Yeah I think we can rename the OCR-D-Processor.

But just to be aware that there is a full framework context with specs (incl. naming conventions etc.) behind here, as well - just not the one of OCR-D ;-)

[2019-12-06 17:10] stweil commented on #9
I only talked about your already existing OCR-D script and am a little bit surprised about the reaction.

[2019-12-06 17:14] cneud commented on #9
We already try in QURATOR what we can to be as compatible to OCR-D, see e.g. ``ocrd_calamari``, ``dinglehopper``. But this is all extra, and we simply have other obligations/priorities in the other project, too.

I will make another PR about the OCR-D script.

[2019-12-06 17:27] kba commented on #9
#10

[2019-12-06 17:29] cneud commented on #9
OK you beat me to it ;-)

[2019-12-08 10:15] bertsky commented on #9
It appears the above fix is only half done:
[code]

(So it's not enough to change the name in the tool json and setup.py entry points, there is another [mention in ocrd_cli.py](https://github.com/qurator-spk/sbb_textline_detector/blob/4e9824eed2bc67368c24023b75894ef339cf26d7/qurator/sbb_textline_detector/ocrd_cli.py#L28) waiting to be renamed as well.)

Please re-open!

[2019-12-09 15:39] kba commented on #9
Remaining mention in ocrd_cli.py is in #12.

[2019-12-09 15:56] mikegerber commented on #9
Tested and merged #12

[2019-12-09 15:56] #9 closed, assigned to nobody

[2019-12-09 16:13] mikegerber commented on #9
Some opinions as the author of the OCR-D CLI here (My colleague @vahidrezanezhad is responsible for most of the rest):

* PRs are nice! PRs that are tested even nicer, so please do test the change before PRing and please please test before merging
* As for the naming conventions of the OCR-D project: This is not part of the OCR-D project but we try to stay compatible and friendly with it :) I pers

[2019-12-09 16:45] stweil commented on #9
@mikegerber, I am sorry that I approved a pull request without testing it. To help avoiding such problems in the future, I suggest to add some continuous integration tests. A first one is added by pull request #13.

See https://travis-ci.org/stweil/sbb_textline_detector/builds for some results.

[2019-12-10 01:13] ghost opened #14 "Training my own model"
Thank you for your hard work,

It would be great if the training script and guide are included, so that I can train my own models.
Waiting for your reply

[2019-12-10 11:04] vahidrezanezhad commented on #14
Dear @deepseek, you can use this repo to train your own model. please do not hesitate to contact me if you have any difficulty.

https://github.com/qurator-spk/pixelwise_segmentation

[2019-12-10 18:26] ghost commented on #14
@vahidrezanezhad

Sample Ground-Truth:
- Upload a sample ground-truth to train a **text-line** detection model on sbb_pixelwise_segmentation along with it's `config_params.json`.
- Upload a sample ground-truth to train a **multi-class** detection model on sbb_pixelwise_segmentation along with it's `config_params.json`.

Questions:
- Did you train all the models (page, page_new, strukturerkennung,

[2019-12-11 11:29] mikegerber opened #16 "ocrd-sbb-text-line-detector writes PAGE output to stdout"
As reported by @wrznr in Gitter

[2019-12-11 11:38] mikegerber commented on #16
The problem is here: https://github.com/OCR-D/core/blob/master/ocrd_models/ocrd_models/ocrd_page_generateds.py#L9645. I'm going to set `silence`.

@kba Not sure if it qualifies as a bug that `parse()` is not silent by default.

[2019-12-11 11:43] mikegerber commented on #16
Fixed in https://github.com/qurator-spk/sbb_textline_detector/commit/11c0e9cee54d2a5c9a4683a897608ba11a29bf73

[2019-12-11 11:43] #16 closed, assigned to mikegerber

[2019-12-11 12:08] wrznr opened #17 "Warn about or refuse overwriting existing elements"
The OCR-D processor silently overwrites existing annotations in the PAGE XML. It should be made either made clear via documentation and/or logging that this happens or maybe the processor should refuse to do so and require explicit confirmation via a parameter.

[2019-12-11 12:13] wrznr opened #18 "Reportedly, there may be an issue with deskewing"
@mikegerber asked me to upload the following example as a reference for a possible deskewing issue:

**Line level**
![image](https://user-images.githubusercontent.com/26707219/70620497-c1d4dd80-1c17-11ea-91f5-3dd15a993f21.png)

**Region level**
![image](https://user-images.githubusercontent.com/26707219/70620544-db762500-1c17-11ea-80f5-48c3c25ec433.png)

**Original**
https://digital.slub-dresden.d

[2019-12-11 12:16] mikegerber commented on #17
I'll do two things:

* [x] Update the README that this also does printspace and region detection.
* [x] I'll let the OCR-D processor give a warning if those segments already exist

[2019-12-11 12:17] wrznr opened #19 "Consider restricting detected lines to detected regions"
The SBB page segmentation creates to levels of representation: 1. a segmentation of the page into regions and 2. a segmentation of the page into lines. Currently, those two levels are obviously independent of each other. That is, a region may be smaller than the union of the lines it incorporates:
![image](https://user-images.githubusercontent.com/26707219/70620821-838bee00-1c18-11ea-845a-3b099b2f

[2019-12-11 12:41] mikegerber commented on #18
@vahidrezanezhad The problem I saw here was in the header of the page:

![Screenshot_2019-12-11_13-41-17](https://user-images.githubusercontent.com/34309482/70622315-f34fa800-1c1b-11ea-9e9c-7e0bd4a77199.png)

[2019-12-11 12:49] vahidrezanezhad commented on #18
For deskewing I am using textline-segmentation result, so if the segmentation result is not perfect deskewing can face difficulty . This probably will be solved with new texline model :)

[2019-12-11 12:56] mikegerber commented on #17
Fixed in https://github.com/qurator-spk/sbb_textline_detector/commit/27b2d056b0e2e430fcc0df772f4610ee032fde8e and https://github.com/qurator-spk/sbb_textline_detector/commit/f90b3cfa8601c20c8401095209c00dfbb43c5a78.

[2019-12-11 12:56] #17 closed, assigned to mikegerber

[2019-12-11 13:22] vahidrezanezhad commented on #19
Dear @wrznr, I have no idea whether is that  a problem or not. But logic behind this is that sometimes my layout detection is not that good (specially text regions)  however I can implement a robust textline detection. If I want to restrict my textline rectangles to text region(masking by text region) it can worse the result of textline detection.

[2019-12-11 15:27] vahidrezanezhad commented on #14
Dear @deepseek

Sample GT,

You can find sample data and corresponding config_params.json for each use case here:
https://file.spk-berlin.de:8443/sample_data_for_pixelwise_training/

Questions:
- Yes I use sbb_pixelwise_segmentation for all use cases and even for binarization.

- Thats true. If you want to have a light training model just use light version. If you want to see the model structure y

[2019-12-11 15:56] ghost commented on #14
Thanks man, hoping that you continue being amazing!

[2019-12-11 15:56] #14 closed, assigned to nobody

[2019-12-11 17:17] ghost opened #20 "Detecting Text-Lines only"
Thank you for your hard work,

If I understand correctly, each level of segmentation is independent of the other, therefore I would recommend a flag option to select detecting text-lines only, without region nor page.
This would benefit to reduce the memory footprint, and speed up the process.

[2019-12-11 17:29] vahidrezanezhad commented on #20
They are not completely independent. For example text region is used to get robust and clean textlines. Actually, textlines are not  direct result of pixelwise textline-segmentation. After pixelwise textline-segmentation I am using some methods inside text region to detect textlines.

[2019-12-11 17:39] mikegerber commented on #18
@vahidrezanezhad So I'm closing this, just told @wrznr to open an issue because I thought the example could be interesting 🙂

[2019-12-11 17:39] #18 closed, assigned to nobody

[2019-12-11 17:43] ghost opened #21 "2D vs 3D Training"
@vahidrezanezhad
When preparing the training data ground-truth, at what cases should I use 2D, and what cases should I use 3D?

Does using 3D means that I can train a single model containing page+region+lines?

[2019-12-11 17:51] vahidrezanezhad commented on #21
@deepseek  To prepare GT to train with our script you need 2d as option. 3d option has nothing to do with page, region or textlines, with 3d It means that each class is identified with a unique RGB. (in 2d for each class  I give a unique number for a pixel).

[2019-12-11 17:54] ghost commented on #20
#19

- Am I missing something here? as per @wrznr examples, the text-lines detected don't adhere to the detected regions.
- Have you compared the Text-Line detection results with and without the page & region steps?
criteria: ( Detection rate, Memory used, Images per second, ...)

[2019-12-11 18:36] ghost commented on #21
Thanks

[2019-12-11 18:36] #21 closed, assigned to nobody

[2019-12-12 08:07] wrznr commented on #20
I do not think so: As @vahidrezanezhad wrote, the segmentation of the page into lines depends on (benefits from) the segmentation of the page into regions but is not a direct consequence of this step. Setting up a completely modular workflow would therefor worsen the results. Since the coordinates of both representation levels are not consistent (text lines may reach outside of the regions they ar

[2019-12-12 11:46] vahidrezanezhad commented on #20
Dear @deepseek , let me explain a little about what we are doing and what is the main goal of this tool. Please do not forget that the only and main goal of this work was to provide textlines for OCR.

- Is page extraction important? Of course it is. You can still do a great textline detection even without page extraction but as you may know we have many of documents that have part of neighboring

[2019-12-12 11:57] mikegerber commented on #19
(@vahidrezanezhad: Please correct me if I'm not 100% correct with this)

As I understand it, the regions you see here are not much more than the raw pixelwise segmentation results, while the textlines are the result of pixelwise textline segmentation + heuristics + taking textregions into account + deskewing. The regions still contain (in the logical, XML sense) their textlines because we need tha

[2019-12-12 12:33] #19 closed, assigned to nobody

[2019-12-12 17:06] ghost commented on #20
keep up the good work

[2019-12-12 17:06] #20 closed, assigned to nobody

[2019-12-17 12:22] kba commented on #16
We should document that in the code. Since we're just importing the method from generateDS, I'm not sure how though.

[2019-12-24 08:04] ghost opened #22 "Text-line level vs Base-line level?"
@vahidrezanezhad
I am curios, have you came across the base-line segmentation method, and what do you think of it.
Input image>binary base-lines>text-lines detection based on base-lines polygonization

https://github.com/tmbdev/icdar2019-tutorial/blob/master/150-layout.ipynb

[2019-12-27 13:11] #22 closed, assigned to nobody

[2020-01-04 15:40] Mohamed209 opened #23 "models download link is down"
it seems that that model download link is corrupted
`
This site can’t be reachedThe webpage at https://file.spk-berlin.de:8443/textline_detection/ might be temporarily down or it may have moved permanently to a new web address.
ERR_TUNNEL_CONNECTION_FAILED
`

[2020-01-06 19:38] ghost opened #24 "Detectron2"
@kba @cneud @stweil @vahidrezanezhad @mikegerber
Thank you all for your hard work,

- Regarding the sbb_textline_detector, I have found a way to run a layout detector on detectron2, with the ability to run fast on CPU-only, resnet101. And perhaps below 3gb for resnet 50. All on cpu.
- One of the disadvantages of the current sbb_textline_detector is that it have 3 models "page, region, lines" that

[2020-01-08 01:59] #24 closed, assigned to nobody

[2020-01-10 15:32] cneud commented on #23
@Mohamed209 Apologies, but our fileserver where this (and other) models were hosted has been permanently taken down. We're already investigating alternative hosting options, hopefully we can find a stopgap or even longer-term solution next week!

[2020-01-16 14:52] cneud commented on #23
@Mohamed209 Please find the updated download link for the models here: https://qurator-data.de/sbb_textline_detector/

[2020-01-16 15:29] #23 closed, assigned to nobody

[2020-02-27 10:55] jbarth-ubhd opened #27 "IndexError: list index out of range"
I'll have >= 3 images where this error occurs:
[schiltberger1580/025](https://digi.ub.uni-heidelberg.de/diglitData/jb/schiltberger1580_-_025.tif)
[schiltberger1580/029](https://digi.ub.uni-heidelberg.de/diglitData/jb/schiltberger1580_-_029.tif)
[schiltberger1580/033](https://digi.ub.uni-heidelberg.de/diglitData/jb/schiltberger1580_-_033.tif)

I'm using ocr-d, with sbb_textline_detector commit `689

[2020-02-27 11:07] jbarth-ubhd commented on #27
oops... schiltberger1580/025 (using original, non-binarized tiff): no problem with commit `8618be2d9e492ccaadfc322cd8184c63243b539f`

[code]

[2020-02-27 11:37] jbarth-ubhd commented on #27
no problem with binarized schiltberger1580/025, too...

[2020-02-27 11:50] mikegerber commented on #27
We discussed this problem internally just recently. It is/was a multi threading problem that might not happen on every run.

However, it should be fixed in b9caa8e onwards, so the 8618be2d version *should* be ok with all your files now. As I understand your comments, your problems were with an earlier version and is fixed with 8618be2d version?

[2020-02-27 11:51] mikegerber commented on #27
These are unrelated and should not lead to a fatal problem.

[2020-02-27 12:07] jbarth-ubhd commented on #27
latest ocrd_all/sbb_textline_detector is of
[code]
so not fixed in ocrd_all.

[2020-02-27 12:17] mikegerber commented on #27
Yes the version there was not up to date. I submitted a PR to fix this for you.

[2020-02-27 12:34] mikegerber commented on #27
https://github.com/OCR-D/ocrd_all/pull/71 is merged now, in ocrd_all. Please re-open this bug if I you still have the issue with that version.

[2020-02-27 12:34] #27 closed, assigned to vahidrezanezhad, mikegerber

[2020-05-26 11:02] bertsky opened #29 "replace PrintSpace with Border"
I'm not sure if this is intentional, but currently the textline detector uses the `PrintSpace` element for the outer hull of all detected regions. Shouldn't that be `Border` instead?

See also:
- https://github.com/OCR-D/core/issues/488
- https://ocr-d.de/en/gt-guidelines/trans/lySatzspiegel.html

Here are the two affected places:

https://github.com/qurator-spk/sbb_textline_detection/blob/d36b015

[2020-05-27 21:56] cneud commented on #29
Thanks, I would prefer to be in line with current @OCR-D conventions here, but let me check this with @vahidrezanezhad @mikegerber (see also [PrintSpaceType](https://ocr-d.de/en/gt-guidelines/pagexml/pagecontent_xsd_Complex_Type_pc_PrintSpaceType.html) vs [BorderType](https://ocr-d.de/en/gt-guidelines/pagexml/pagecontent_xsd_Complex_Type_pc_BorderType.html))

[2020-05-27 22:20] bertsky commented on #29
Note, also affects the tool's problem statement in the README:

How about:

BTW, this also makes me wonder how well your method can cope with _textual noise_ (like facing pages). Even the (rule-based) [DFKI tool](https://github.com/OCR-D/ocrd_anybaseocr/blob/master/ocrd_anybaseocr/cli/ocrd_anybaseocr_cropping.py) has problems with pages [like this](https://user-images.githubusercontent.com/3856170

[2020-05-27 22:45] cneud commented on #29
Nice example ;) I don't think our current model is very optimized for that yet, but @vahidrezanezhad is already experimenting with new models for e.g. curved lines.

I can however remember [2007](http://www.imlab.jp/cbdar2007/proceedings/papers/P2.pdf) and [2010](https://dl.acm.org/doi/pdf/10.1145/1815330.1815382) IMPACT NCSR implementations being able to deal with such pages.

[2020-05-27 23:09] bertsky commented on #29
You were right. It does detect that the right side does not belong to the page – sort of – but then uses a bbox which forces parts of the noise into the page frame again:
![OCR-D-CROP-SBB_0001](https://user-images.githubusercontent.com/38561704/83080976-e155aa80-a07f-11ea-95d6-80649feb6e12.png)

Maybe this is just a matter of using polygons instead of bboxes?

[2020-05-27 23:15] bertsky opened #30 "make Tensorflow less gabby"
Running the detector prints loads of unnecessary and (to non-developers) confusing TF messages.

Please consider doing the following to silence them to actual errors:

- before importing TF (or Keras, or whatever imports TF): `os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'`
- after importing TF: `tf.get_logger().setLevel('ERROR')`

Getting the TF logger to adhere to OCR-D conventions is another story, b

[2020-05-27 23:22] bertsky opened #31 "improve ocrd-tool.json"
The description and classification of the `ocrd-tool.json` could better reflect what is really going on:

* `description = 'Detect lines'` – please state here what the README already says
* `steps = 'layout/segmentation/line' ` – should also have `layout/segmentation/region` (or just `layout/segmentation`), maybe even `preprocessing/optimization/deskewing` (IIUC)
* `categories = "Image preprocessi

[2020-05-27 23:28] bertsky opened #32 "support AlternativeImage input in OCR-D processor"
The [README](https://github.com/qurator-spk/sbb_textline_detection#usage-with-ocr-d) states the following about current OCR-D support:

That latter statement shows that there has been some awareness of the problem, but unfortunately it is not consistent with the usage example given above, or with the actual implementation.

IIUC All the implementation (and the usage example) does is take a binariz

[2020-05-28 07:09] bertsky opened #33 "TextLine coordinates too coarse"
Would it be possible to get good polygonal outlines from the text line segmentation instead of coarse bounding boxes?

There is a stark contrast between the precise contours of the text regions (which never overlap) and the coarse rectangles of text lines inside them (which often extrude beyond their parent and overlap between adjacent lines).

This makes it risky to apply line-level dewarping aft

[2020-05-29 11:03] mikegerber commented on #32
It

1. uses the original image
2. retains the `AlternativeImage` for use in a subsequent OCR step.

I do not know how this behaves if anything was cropped before though.

No. What it does is taking the *original RGB* image from the PAGE file that was generated by the binarization step, operates on that and retains the (unused) binarized AlternativeImages in the output.

Does this give me the origi

[2020-05-29 12:40] bertsky commented on #32
Which is very different from what is stated above: `but respects and retains AlternativeImages from binarization steps, so it's a good idea to do binarization first`. _Respecting_ AlternativeImage and even demanding their use (for binarization) is exactly the opposite of just passing them through and ignoring them otherwise.

That's exactly what `as if it were the original image` is. There can onl

[2020-05-29 15:24] mikegerber commented on #32
Yeah "respecting" is probably the incorrect term, I changed that.

I'd also ask you to please review your tone in your comments. Your comments often come across as
bossy.

We need the RGB image aka "the original image", that's the whole point of not using the AlternativeImages and that whole arguably ambiguous (or even incorrect) paragraph of the README.

I am going to change that part to get the

[2020-05-29 15:30] #31 closed, assigned to mikegerber

[2020-05-29 15:34] mikegerber commented on #31
Thanks!

[2020-05-29 15:45] bertsky commented on #32
Huh? Where, how?

Oh, I see. That's the source of our confusion. You equated _original_ with _raw_, for me (and for OCR-D) it's the _unmodified_ first image that enters the pipeline (and is still the reference when you leave it), regardless of whether it's RGB, grayscale, already binarized etc.

Your use-case is covered exactly by the AlternativeImage handling in the OCR-D spec and the implementat

[2020-07-06 13:04] kba commented on #30
Would it help if we set the TF logging level in `initLogging` in core, like we do for PIL and shapely?

[2020-07-06 13:38] bertsky commented on #30
I don't know, but it sounds like a great idea. Let's try it out!

[2020-07-29 18:11] cneud opened #35 "Update README.md"
It would help to have some more detailled info on the underlying technologies and how they are used here, cf. https://github.com/sulzbals/gbn/blob/master/README.md for a good example

[2020-07-31 17:10] mikegerber commented on #32
Side note to self: I can absolutely not remember why I recommended running binarization before this segmentation. I'll investigate.

Another thing that lead to the somewhat confusing README text: The original version just wrote a new PAGE file, then I reworked it to merge results into a existing PAGE to support ocrd_olena output.

[2020-07-31 20:41] vahidrezanezhad commented on #30
@bertsky I will take it into account. Thanks

[2020-07-31 20:47] vahidrezanezhad commented on #33
@bertsky We can set more tight textlines but this  also has its own disadvantages. By the way we will publish a new tool which throws contours for textlines not rectangles. however mentioned method costs us more processing time!

[2020-07-31 20:57] #33 closed, assigned to vahidrezanezhad

[2020-08-14 18:56] bertsky commented on #33
@vahidrezanezhad

Then why not make that behaviour optional (with an ocrd-tool.json parameter), so the user can decide what is needed (precision or performance) for her workflow?

Where?

And why did you close the issue already?

[2020-08-17 08:51] vahidrezanezhad commented on #33
Dear @bertsky ,
First of all you can see the tool which gives texlines as contour here
" https://github.com/vahidrezanezhad/newspapers_regions_and_reading_order_curved_lines "
But the reason it is not integrated as an option to the current model is that, the new tool will be another tool which can give also the reading order of textregions. The other reason is it is still under development. If you

[2020-08-17 09:02] bertsky commented on #33
@vahidrezanezhad understood – I'll try to follow. Thanks for clarifying!

[2020-08-18 14:57] #35 closed, assigned to vahidrezanezhad

[2020-08-19 18:16] #29 closed, assigned to vahidrezanezhad

[2020-08-19 19:17] ghost opened #39 "."
.

[2020-08-19 19:54] vahidrezanezhad commented on #39
Dear @deepseek,

I have used heuristic method to find the order of regions. Key point is to know that we can already detect separators by layout detection and on the other hand this separators include information about text ordering :)

[2020-08-19 19:54] vahidrezanezhad commented on #39
Dear @deepseek,

I have used heuristic method to find the order of regions. Key point is to know that we can already detect separators by layout detection and on the other hand this separators include information about text ordering :)

[2020-08-19 19:54] vahidrezanezhad commented on #39
Dear @deepseek,

I have used heuristic method to find the order of regions. Key point is to know that we can already detect separators by layout detection and on the other hand this separators include information about text ordering :)

[2020-08-19 19:54] vahidrezanezhad commented on #39
Dear @deepseek,

I have used heuristic method to find the order of regions. Key point is to know that we can already detect separators by layout detection and on the other hand this separators include information about text ordering :)

[2020-08-19 19:55] vahidrezanezhad commented on #39
Dear @deepseek,

I have used heuristic method to find the order of regions. Key point is to know that we can already detect separators by layout detection and on the other hand this separators include information about text ordering :)

[2020-08-19 19:55] vahidrezanezhad commented on #39
Dear @deepseek,

I have used heuristic method to find the order of regions. Key point is to know that we can already detect separators by layout detection and on the other hand this separators include information about text ordering :)

[2020-08-19 21:49] #39 closed, assigned to nobody

[2020-08-19 21:52] deepseek commented on #39
excellent

[2020-08-26 16:03] cneud opened #40 "ValueError thrown due to shape inconsistence (empty page)"
For [this](https://content.staatsbibliothek-berlin.de/dms/PPN768057353/800/0/00000081.tif?original=true) empty page, I get a ``ValueError`` when applying ``sbb-textline-detector`` via [my_ocrd_workflow](https://github.com/qurator-spk/my_ocrd_workflow).

[code]

Ideally the output should be a PAGE-XML file with no region/textlines.

[2020-08-27 10:45] vahidrezanezhad commented on #40
Dear Clemens just check it out.

[2020-10-02 08:24] maxnth opened #42 "Good segmentation results but bad OCR when using sbb-textline-detection with OCR-D"
I'm not sure whether this is the right place to ask as `sbb-textline-detector` itself worked perfectly in our OCR-D workflows and the produced segmentation results look good as well but running any recognition (`calamari-recognize` as well as `tesserocr-recognize`) afterwards yields weird text output that seems worse than it should be (regarding the good segmentation results).

I basically used th

[2020-10-02 08:48] mikegerber commented on #42
Could you upload the result before the dewarping step, too? My hunch is that the dewarping produces too thick lines. Ideally, upload the whole workspace contents for this page.

[2020-10-02 08:54] mikegerber commented on #42
There is also an issue that the line texts aren't matching the line images, but this could just be an issue with PAGEViewer:

![image](https://user-images.githubusercontent.com/34309482/94905659-843e8b00-049d-11eb-92c7-81f6eb4978f8.png)

The text box should give the result for the first line, but gives some text from the second line.

[2020-10-02 09:06] maxnth commented on #42
`OCR-D-SEG-LINE_0005.xml` ([sbb-seg.zip](https://github.com/qurator-spk/sbb_textline_detection/files/5316930/sbb-seg.zip)) is the the PAGE XML outputted by `sbb-textline-detector`, `OCR-D-OCR2_0005.xml` and `OCR-TXT2_0005.txt` is the OCR output when running `calamari-recognize` directly on `OCR-D-SEG-LINE_0005.xml`.

That bug (?) appears in LAREX as well but my first thought was that it's a proble

[2020-10-02 09:22] mikegerber commented on #42
Here is the result with my (a lot simpler) [my_ocrd_workflow](https://github.com/mikegerber/my_ocrd_workflow/).

[2020-10-sbb_textline_detection-issue-42.zip](https://github.com/qurator-spk/sbb_textline_detection/files/5316999/2020-10-sbb_textline_detection-issue-42.zip)

The result is fine (paragraphs 2+3):
<pre>
Die gewoͤhnlichſte Schrift iſt die Current⸗
ſchrift, deren Buchſtaben nicht zu gerad

[2020-10-02 09:43] maxnth commented on #42
Using your more minimal workflow with `sbb-textline-detector` gave me the same results (which look a bit more like the result I expected :D )

[2020-10-02 09:48] mikegerber commented on #42
Yeah, superficially I only see problems with the hyphens.

[2020-10-02 10:07] maxnth commented on #42
I tried switching off different pre-processing steps before segmenting (seeing that minimal pre-processing seems to work just fine in this case) and it seems that cropping is responsible for the bad results.
The above workflow without `anybaseocr-crop` yields good results, turning off the other pre-processing steps but leaving cropping in the workflow always yields bad results for this page.

[2020-10-02 10:09] mikegerber commented on #42
Thanks for the analysis. I'll look into the problem, could be an API problem in `ocrd-sbb-texline-detector`.

[2020-10-02 12:55] mikegerber commented on #40
@vahidrezanezhad Can this be closed?

https://github.com/qurator-spk/sbb_textline_detection/commit/0f09f4a1f6b5d61987a0e6f14c9a5a4623fa3b26 says it's resolved.

(If you had included `(Closes GH-40)` the pushed commit would have automatically closed it.)

[2020-10-02 12:55] mikegerber commented on #30
@vahidrezanezhad Can this be closed?

0f09f4a says it's resolved.

[2020-10-02 14:40] bertsky commented on #30
That aspect should be solved in the current core, too.

Looks fine!

[2020-10-02 14:40] #30 closed, assigned to vahidrezanezhad

[2020-10-02 15:24] cneud commented on #40
Please don't close just yet @mikegerber, I opened this and still need to verify the fix works!
(yes I know one can link issues and PR's but this was intentional so I can actually test it)

[2020-10-02 16:34] mikegerber commented on #40
That's why I asked :)

[2020-10-02 17:36] cneud commented on #40
I have now tested the fix against three different images that threw the error before, and can confirm all of them were processed successfully with the fix, so will close.

[2020-10-02 21:42] cneud commented on #42
Other @OCR-D users also reported issues with `anybaseocr-crop`. But if the expected results can in fact be achieved with https://github.com/mikegerber/my_ocrd_workflow/, this rather hints at a problem in the OCR-D workflow or in the way ``ocrd-sbb-textline-detector`` writes its output PAGE-XML (cc @kba).

Btw there is also this nice fork https://github.com/sulzbals/gbn which provides a more granul

[2020-10-02 21:47] cneud commented on #40
(@mikegerber but in fact I did miss https://github.com/qurator-spk/sbb_textline_detection/commit/0f09f4a1f6b5d61987a0e6f14c9a5a4623fa3b26 also closed #30, which should have been two separate commits @vahidrezanezhad )

[2020-10-05 16:52] cneud commented on #40
Maybe I did indeed close this too early...while most images that threw above error before are now processing OK, I still do get this exception for e.g. this image: https://digital.staatsbibliothek-berlin.de/werkansicht?PPN=PPN687049385&PHYSID=PHYS_0024&DMDID=

[code]

[2020-10-06 09:37] cneud opened #43 "ValueError: attempt to get argmax of an empty sequence"
For this page https://digital.staatsbibliothek-berlin.de/werkansicht?PPN=PPN1701685183&PHYSID=PHYS_0020&DMDID=, I get:

[code]

[2020-10-14 14:12] jbarth-ubhd opened #44 "Very good overall performance, but this one fails?"
Here the original image:
https://digi.ub.uni-heidelberg.de/diglitData/v/blaeu1655bd6_-_00_129.tif

here the image fed into sbb-textline (binarized etc):
https://digi.ub.uni-heidelberg.de/diglitData/v/blaeu1655bd6_-_00_129-binarized.png

and here the detected segments:
![grafik](https://user-images.githubusercontent.com/30653779/96000641-68d96580-0e37-11eb-99e2-97c46ef96892.png)

model used:
[code]

[2020-10-14 14:16] cneud commented on #44
@jbarth-ubhd weird, I have not seen any segmentation results like this coming from the tool. Can you attach the PAGE-XML as well plz?

(cc @vahidrezanezhad)

[2020-10-14 14:17] jbarth-ubhd commented on #44
I'll let in through a second time, just to be sure...

[2020-10-14 14:29] jbarth-ubhd commented on #44
yes, second try, same, result. Complete ocr-d workflow results:

https://digi.ub.uni-heidelberg.de/diglitData/v/blaeu.tgz

[2020-10-14 14:40] cneud commented on #44
Thanks for providing the test data. I can also confirm this via Aletheia. The issue seems to be with the region segmentation - where there are regions detected (see e.g. the marginalia on the left hand side), the textline segmentation actually works ok-ish. We will have a look what's wrong here!

Btw, just in case you missed this recent announcement in the [OCR-D Chat](https://gitter.im/OCR-D/Lobb

[2020-10-14 14:43] jbarth-ubhd commented on #44
I'm looking forward for this! Thanks for inspecting.

[2020-10-15 17:27] mikegerber commented on #32
Should be fixed in 020ffbc.

[2020-10-15 17:27] #32 closed, assigned to mikegerber

[2020-10-15 17:30] mikegerber commented on #42
I changed the code to retrieve the image and to calculate the coordinates, could you try again with current master/ 020ffbc?  (I don't have a setup of anybaseocr + cis-ocropy yet, so it would help if you could try again.)

[2020-10-15 18:15] bertsky commented on #32
Thanks – that's much better, but not quite correct yet: You need to re-base the detected `Border` on the input image's coordinate system, too! (And this coord system can not only differ due to cropping earlier in the workflow, but also deskewing.)

Also, for this tool it's probably better to process on the _uncropped_ image. So instead of just `self.workspace.image_from_page(page, page_id, feature

[2020-10-15 18:50] mikegerber commented on #32
- [x] use uncropped input images: 006c776
- [x] re-transform Border coords: 665b739
  - CoordsType vs points vs polygons could be a bit more convenient.
- "the incriminated formulation": Please open a PR, I'm sure @vahidrezanezhad or @cneud will merge it (I'm not maintaining the OCR-D interface here anymore, this is the last issue I'm handling)

[2020-10-15 19:14] bertsky commented on #32
Yes, we could have some convenience functions for Coords/points – in ocrd_utils or directly in the PAGE class as getter/setter. Feel free to open an issue in core if you have a concrete idea.

Excellent!

Will do. Thanks again.

[2020-10-15 20:18] mikegerber opened #46 "README says it's working on grayscale images"
Does it work on grayscale images?

[2020-10-15 20:27] vahidrezanezhad commented on #46
Actually, this tool takes raw image and then models are fed with binarized format . So the image to be grayscale or not is not matter, the most important thing is how good binarization of input :)

[2020-10-22 18:58] mikegerber commented on #46
The question is: Can `ocrd-sbb-textline-detector` take grayscale input, currently, not hypothetically?

[2020-10-22 19:06] mikegerber opened #47 "TypeError: argument of type 'NoneType' is not iterable"
With this input (full workspace: https://github.com/qurator-spk/sbb_binarization/issues/8#issue-727646351):

[code]

I get:

[code]

@kba Might be a bug in OCR-D/core?

[2020-10-22 19:17] mikegerber commented on #47
I believe it's due to the missing `AlternativeImage/@comments` https://github.com/qurator-spk/sbb_binarization/issues/8, but I could be wrong.

[2020-10-26 11:14] kba commented on #47
Both the underlying issue https://github.com/qurator-spk/sbb_binarization/issues/8 and core not being able to handle `AlternativeImage` without `comments` should be fixed.

[2020-10-28 21:39] cneud commented on #46
@vahidrezanezhad So the model was trained with binarized images, correct? In this case, feeding "raw" greyscale/colour images to the tool will not error, but simply produce worse results?

If this is currently the case (which I assume), then the documentation should rather state that a binarized image is required for the input.

[2020-10-28 22:25] vahidrezanezhad commented on #46
Dear @cneud , as you remember this model (for layout) was trained with only 30 images and both original and binarized form fed into model. But those images where actually much more like binarized ones. So, I decided to first do binarization on input image and then feed it into the model which helped us to get much better results. For binarization I have used otsu method and since otsu binarization

[2020-10-28 22:29] vahidrezanezhad commented on #46
@cneud I forget to cover this part (he documentation should rather state that a binarized image is required for the input.), actually not a binarized image is needed but as I said by the way I do binarization at first step in our tool. so since our binarization works better, so if you provide for this tool a binarized image, then clearly you will get  better result.

[2020-10-31 14:08] cneud commented on #46
So can we agree on this then?

"The tool does accept raw (RGB/grayscale) images as input, but results will be much improved when a properly binarized images is used instead."

[2020-10-31 14:11] cneud commented on #42
Possibly relates to https://github.com/qurator-spk/sbb_textline_detection/pull/48

[2020-11-02 10:37] vahidrezanezhad commented on #46
Yep, this is correct .

[2020-11-02 14:49] #46 closed, assigned to nobody

[2020-11-10 11:53] JKamlah opened #50 "h5py==3.0.0 causes issues with keras model"
It seems that the current version of h5py (3.0.0) causes issues, see: https://github.com/tensorflow/tensorflow/issues/44467 .
A workaround, till an official fix is released, could be to specify h5py (e.g., ==2.10) in the requirements files.
This problem also affects: https://github.com/qurator-spk/sbb_binarization

[2020-11-16 13:22] mikegerber commented on #50
I have encountered the same problem:

[code]

Downgrading to `h5py < 3` solves this.

[2020-11-16 13:23] mikegerber commented on #50
→ https://github.com/qurator-spk/ocrd-galley/commit/2c7304caec6d10ae761134ee30c6c9da0918b237

[2020-11-25 13:48] kba commented on #50
This has been fixed in current master by #51

[2020-11-25 13:48] #50 closed, assigned to nobody

[2020-12-21 11:55] jbarth-ubhd opened #53 "ValueError: Error when checking input: expected input_1 to have shape (..., ..., ...) but got array with shape (..., ..., ...)"
ValueError: Error when checking input: expected input_1 to have shape (448, 896, 3) but got array with shape (448, 4, 3)

Image:

https://digi.ub.uni-heidelberg.de/diglitData/v/ocrd/lichtwark1932bd2_-_h.tif

Workflow:

[code]

Stack trace:
[code]

[2021-01-20 17:33] mikegerber commented on #53
Can this be closed?

[2021-01-20 17:53] cneud commented on #53
I prefer not to close just yet since this error still occurs on few files (e.g. the ones I reported yesterday in our chat).

AFAICT @vahidrezanezhad will have another look if this can be fixed once and for all (it appears to be fixed in `eynollah`).

[2021-01-20 17:54] cneud commented on #53
btw this duplicates #40

[2021-01-25 15:20] cneud commented on #53
Dear @jbarth-ubhd, I tried your image again after https://github.com/qurator-spk/sbb_textline_detection/commit/4c498fcad2d8665bcab5ae72aa69b48421ab32c6 was comitted and now the image processes fine for me and the error does not occur anymore. Can we close this?

[2021-01-25 15:21] cneud commented on #40
Can confirm this has been fixed for the images here with https://github.com/qurator-spk/sbb_textline_detection/commit/4c498fcad2d8665bcab5ae72aa69b48421ab32c6.

[2021-01-25 15:21] #40 closed, assigned to vahidrezanezhad

[2021-01-25 15:54] cneud commented on #44
Dear @jbarth-ubhd, I found some time to investigate this further and with the current version of `sbb-textline-detector`, while I do get the same problem with the RGB image, when using the binarized image, the segmentation result actually looks fine (see attachments).

Using RGB image
![rgb](https://user-images.githubusercontent.com/952378/105729345-67870100-5f2d-11eb-88d9-6902cbc9768b.png)

Using

[2021-01-25 16:21] jbarth-ubhd commented on #53
yes

[2021-01-25 16:21] #53 closed, assigned to nobody

[2021-01-25 16:57] cneud commented on #43
Confirmed fixed in current version.

[2021-01-25 16:57] #43 closed, assigned to nobody

[2021-02-01 15:56] mikegerber commented on #47
I guess this can be closed.

[2021-02-01 15:56] #47 closed, assigned to nobody

[2021-02-03 16:22] SB2020-eye opened #56 "difference between this and eynollah?"
Hi. I'd appreciate knowing what the differences are between sbb_textline_detection and eynollah. Thanks in advance.

[2021-02-03 16:46] cneud commented on #56
Hi, basically `eynollah` will be a replacement for `sbb_textline_detection` with a superset of features integrating [more functionality](https://github.com/qurator-spk/eynollah#how-to-use) like scaling and additional heuristics that help to improve both, layout analysis and textline detection.

We are currently working on an overhaul of the codebase for `eynollah` that should make it easier for ot

[2021-02-03 21:17] SB2020-eye commented on #56
Thank you! I wondered if that might be the case.

[2021-02-03 21:17] #56 closed, assigned to nobody

[2022-09-12 17:58] mikegerber opened #60 "No text lines detected - Regression?"
Using https://qurator-data.de/examples/actevedef_718448162.first-page.zip, `ocrd-sbb-textline-detector --overwrite -I OCR-D-IMG -O OCR-D-SEG-LINE-SBB-TLD -P model "/var/lib/textline_detection"` only gives:
[code]

[code]

I'm investigating.

[2022-09-12 18:30] mikegerber commented on #60
Same problem with the non-OCR-D-CLI:

[code]

[2022-09-13 17:44] mikegerber commented on #60
Text regions look ok at https://github.com/qurator-spk/sbb_textline_detection/blob/master/qurator/sbb_textline_detector/main.py#L2077 but they get reset in https://github.com/qurator-spk/sbb_textline_detection/blob/master/qurator/sbb_textline_detector/main.py#L2089-L2091 - so I'm guessing the contour detection throws an exception.

[2022-09-13 18:23] mikegerber commented on #60
**The error `module 'cv2' has no attribute 'cv2'` is caught here:**

https://github.com/qurator-spk/sbb_textline_detection/blob/eaf8ecd4d451c669bf7c765a338e7eb33163b414/qurator/sbb_textline_detector/main.py#L2088-L2091

I think the exception catching here is  too broad and bad practice. If there's a specific exception to catch, it should be specified and that would have made it easier to track dow

[2022-09-13 18:33] mikegerber opened #64 "Broken CI"
https://github.com/mikegerber/sbb_textline_detection/runs/8335240446 is broken.

- [x] Why Python 3.7? I think it does not even work with this Python version
- [x] Does the CI do something useful? I was not even aware that there were any tests implemented for sbb_textline_detection
- [x] Fix the build

[2022-09-13 18:48] mikegerber commented on #64
Python 3.7 should work, TF 1.15 is available there. I also cannot reproduce the error in https://github.com/mikegerber/sbb_textline_detection/runs/8335240446 - It happens while doing `pip install .` and in `setuptools`:

[code]

Maybe Travis is using a different setuptools version?

[2022-09-13 18:49] mikegerber commented on #64
The "test" is just installing and calling `ocrd-sbb-textline-detector --help`, so it's a start.

[2022-09-13 18:52] mikegerber commented on #64
However, under Python 3.7 it's broken anyway:

[code]
As this project is legacy, not suppossed to work on Python 3.7 IMHO, I'm disabling testing on Python 3.7 if there's noone objecting.

[2022-09-14 09:04] mikegerber commented on #60
PEP8 (https://peps.python.org/pep-0008/) also has an opinion about this:

[2022-09-14 09:07] mikegerber commented on #60
Ah that's why I always had problems interrupting the run of this program!

[2022-09-14 09:42] #64 closed, assigned to mikegerber

[2022-09-19 18:31] mikegerber commented on #60
There is still something broken, with https://qurator-data.de/examples/actevedef_718448162.first-page+binarization+segmentation.zip and
[code]
I get text regions, but there aren't any useful text lines (green) detected:

![image](https://user-images.githubusercontent.com/34309482/191089643-ab94b1bd-78a4-4f5d-9d42-39a4728f195a.png)

[2022-09-19 21:58] #60 closed, assigned to mikegerber

[2022-09-20 12:48] mikegerber commented on #60
Thanks @vahidrezanezhad, I'll test it!

[2022-09-20 17:11] mikegerber commented on #60
With `opencv-python-headless == 4.5.1.48` (c4df3d6), it looks fine:

![image](https://user-images.githubusercontent.com/34309482/191321594-72148d4d-c5bc-4431-8d1e-27e394a97f80.png)